/* Header.css */
.header .navbar {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-item {
    padding: 10px;
  }
  
  .navbar-item.active {
    font-weight: bold;
  }
  
  .navbar-item:hover {
    background-color: #eaeaea;
  }
  
  .has-text-primary {
    color: #3273dc;
  }
  
  .has-text-dark {
    color: #363636;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  @media screen and (max-width: 1022px) {
    .header .navbar .navbar-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  
    .header .navbar .navbar-start {
      width: 100%;
    }
  
    .header .navbar .navbar-start .navbar-item {
      width: 100%;
      text-align: right;
    }
  
    .header .navbar .navbar-menu .navbar-item {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
      cursor: pointer;
    }
  }
  