.header .navbar {
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  background-color: rgb(7, 57, 79);
}

.header .navbar:hover {
  color: blue;
  font-weight: bold !important;
}